
<div class="page" data-name="cargar">
    <!-- NavBar -->
   <div class="navbar color-theme-black">
     <div class="navbar-bg"></div>
     <div class="navbar-inner">
       <!--<div class="left sliding">  -->
       <div class="left">
           <a href="#" class="link back">
           <!-- <a href="#" class="link">Left Link</a> -->
             <i class="f7-icons">chevron_left</i>
           </a>
       </div>
       <div class="title font-navbar">Cargar juegos</div>  
     </div>
   </div>


 
    
   <div class="page-content">
     <!-- <img class="img_home" src="img/BackGround1.jpg"> -->
     
     <input type="text" placeholder="Your birth date" readonly="readonly" id="demo-calendar-default"/>

  </div>
 
  
</div>