
<div class="page" data-name="cedula-seleccionar">
    <!-- NavBar -->
   <div class="navbar color-theme-black">
     <div class="navbar-bg"></div>
     <div class="navbar-inner">
       <!--<div class="left sliding">  -->
        <div class="left">
            <a href="#" class="link back">
            <!-- <a href="#" class="link">Left Link</a> -->
              <i class="f7-icons">chevron_left</i>
            </a>
        </div>
       <div class="title font-navbar">Cédula Arbitral(seleccionar juego)</div>  
     </div>
   </div>
 
   <div class="page-content page-ced-seleccionar">
       <div class="list list-cedula-sel" id="lista-juegos">
           <div class="block block-cedula-sel0" onclick = "getDatosJuego()"> <!-- En el armado de la variable para presentar todos los juegos (setMarcadorLocal), se está enviando un identificador al function getDatosJuego (identificador) -->
               <div class="block block-cedula-sel1">
                   <div class="row row-cedula-sel-text1">
                       <div class="col" id="fecha-hora-juego">18/07/2020 19:30</div>
                       <div class="col" id="nombre-torneo">Torneo 19:30</div>
                       <div class="col" id="nombre-torneo">J-18</div>
                    </div>
                    <div class="row row-cedula-sel-text2">
                        <div class="col" id="estatus-juego">Jugado</div>
                    </div>
                </div>
                
                <div class="block block-cedula-sel2">
                    <div class="row row-cedula-sel-text3">
                        <div class="col" id="equipo-local">MAMBO SOCCER VIP</div>
                        <div class="col row-marcadores" id="marcadores">¿-?</div>
                        <div class="col" id="equipo-visita">PUMAS</div>
                    </div>
<!--
                    <div class="list links-list">
                        <ul>
                            <li><a href="/tablero/"></a>h</li>
  
                          </ul>
                      </div>
                      -->




                </div>
            </div>

            <div class="block block-cedula-sel0">
                <div class="block block-cedula-sel1">
                    <div class="row row-cedula-sel-text1">
                        <div class="col" id="fecha-hora-juego">18/07/2020 19:30</div>
                        <div class="col" id="nombre-torneo">Torneo 21:30</div>
                     </div>
                     <div class="row row-cedula-sel-text2">
                         <div class="col" id="estatus-juego">Jugado</div>
                    </div>
                </div>
                 
                 <div class="block block-cedula-sel2">
                     <div class="row row-cedula-sel-text3">
                         <div class="col" id="equipo-local">CHELSEA</div>
                         <div class="col row-marcadores" id="marcadores">10-11</div>
                         <div class="col" id="equipo-visita">BAYERN</div>
                     </div>
                 </div>
                 <!--
                 <div class="block block-cedula-sel3">
                     <div class="row row-cedula-sel-text4">
                         <div class="col" id="marcador-local">10</div>
                         <div class="col" id="marcador-visita">2</div>
                     </div>
                 </div>
                 -->
            </div>


            <div class="block block-cedula-sel0">
                <div class="block block-cedula-sel1">
                    <div class="row row-cedula-sel-text1">
                        <div class="col" id="fecha-hora-juego">18/07/2020 22:30</div>
                        <div class="col" id="nombre-torneo">Torneo 22:30</div>
                     </div>
                     <div class="row row-cedula-sel-text2">
                         <div class="col" id="estatus-juego">Jugado</div>
                    </div>
                </div>
                 
                 <div class="block block-cedula-sel2">
                     <div class="row row-cedula-sel-text3">
                         <div class="col" id="equipo-local">CHAPULINES</div>
                         <div class="col row-marcadores" id="marcadores">2-5</div>
                         <div class="col" id="equipo-visita">JUVE SAN JUAN</div>
                     </div>
                 </div>
                 <!--
                 <div class="block block-cedula-sel3">
                     <div class="row row-cedula-sel-text4">
                         <div class="col" id="marcador-local">10</div>
                         <div class="col" id="marcador-visita">2</div>
                     </div>
                 </div>
                 -->
            </div>

            <div class="block block-cedula-sel0">
                <div class="block block-cedula-sel1">
                    <div class="row row-cedula-sel-text1">
                        <div class="col" id="fecha-hora-juego">18/07/2020 23:30</div>
                        <div class="col" id="nombre-torneo">Torneo 23:30</div>
                     </div>
                     <div class="row row-cedula-sel-text5">
                         <div class="col" id="estatus-juego">Por jugar</div>
                    </div>
                </div>
                 
                 <div class="block block-cedula-sel2">
                     <div class="row row-cedula-sel-text3">
                         <div class="col" id="equipo-local">BARCELONA</div>
                         <div class="col row-marcadores" id="marcadores">3-0</div>
                         <div class="col" id="equipo-visita">REAL MADRID</div>
                     </div>
                 </div>
                 <!--
                 <div class="block block-cedula-sel3">
                     <div class="row row-cedula-sel-text4">
                         <div class="col" id="marcador-local">¿</div>
                         <div class="col" id="marcador-visita">?</div>
                     </div>
                 </div>
                 -->
            </div>



        </div>
    </div>
</div>
 


 