
<div class="page" data-name="goles">
    <!-- NavBar -->
   <div class="navbar color-theme-black">
     <div class="navbar-bg"></div>
     <div class="navbar-inner">
       <!--<div class="left sliding">  -->
       <div class="left">
           <a href="#" class="link back">
           <!-- <a href="#" class="link">Left Link</a> -->
             <i class="f7-icons">chevron_left</i>
           </a>
       </div>
       <div class="title font-navbar">Cédula Arbitral(goles)</div>  
     </div>
   </div>

   <div class="page-content page-goles">
       <div class="block-title block-title-goles" id="total-goles">Total de goles para el equipo Pumas Xolos (Local): 4</div>
       <div class="list list-goles" id="lista-jugadores">
           <div class="block block-jugador-gol">
               <div class="row">
                   <div class="col col-jugador-datos-gol" id="jugador-id">#12 Adán Miranda Pacheco</div>
                </div>
                <div class="row">
                    <div class="col" id="jugador-foto"><img src="../img/fotojugador.jpg" width="60"/></div>
                    <div class="col col-icon-suma-gol" id="suma-gol" onclick = "insertaGol()"><img src="../img/plus-circle.png"/></div> <!-- En el armado de la variable para presentar todos los jugadores (getJugadores), se está enviando un identificador al function insertaGol (identificador) -->
                    <div class="col col-icon-balon-gol" id="ico-balon"><img src="../img/Balon.ico" width="60"/></div>
                    <div class="col col-numgoles-gol" id="goles-">2</div> <!-- En el armado de la variable para presentar todos los jugadores (getJugadores), el id de goles está compuesto por "goles-" y el id del jugador -->
                    <div class="col col-icon-suma-gol" id="resta-gol"><img src="../img/minus-circle.png"/></div>
                </div>
            </div>

            <div class="block block-jugador-gol">
                <div class="row">
                    <div class="col col-jugador-datos-gol" id="jugador-playera">#18 Edgar Israel Flores</div>
                 </div>
                 <div class="row">
                     <div class="col" id="jugador-foto"><img src="../img/fotojugador1.jpg" width="60"/></div>
                     <div class="col col-icon-suma-gol" id="suma-gol"><img src="../img/plus-circle.png"/></div>
                     <div class="col col-icon-balon-gol" id="ico-balon"><img src="../img/Balon.ico" width="60"/></div>
                     <div class="col col-numgoles-gol" id="goles">2</div>
                     <div class="col col-icon-suma-gol" id="resta-gol"><img src="../img/minus-circle.png"/></div>
                 </div>
             </div>

             <div class="block block-jugador-gol">
                <div class="row">
                    <div class="col col-jugador-datos-gol" id="jugador-playera">#25 Ramiro Luis García</div>
                 </div>
                 <div class="row">
                     <div class="col" id="jugador-foto"><img src="../img/fotojugador2.jpg" width="60"/></div>
                     <div class="col col-icon-suma-gol" id="suma-gol"><img src="../img/plus-circle.png"/></div>
                     <div class="col col-icon-balon-gol" id="ico-balon"><img src="../img/Balon.ico" width="60"/></div>
                     <div class="col col-numgoles-gol" id="goles">2</div>
                     <div class="col col-icon-suma-gol" id="resta-gol"><img src="../img/minus-circle.png"/></div>
                 </div>
             </div>

             <div class="block block-jugador-gol">
                <div class="row">
                    <div class="col col-jugador-datos-gol" id="jugador-playera">#30 Adán López García</div>
                 </div>
                 <div class="row">
                     <div class="col" id="jugador-foto"><img src="../img/fotojugador3.jpg" width="60"/></div>
                     <div class="col col-icon-suma-gol" id="suma-gol"><img src="../img/plus-circle.png"/></div>
                     <div class="col col-icon-balon-gol" id="ico-balon"><img src="../img/Balon.ico" width="60"/></div>
                     <div class="col col-numgoles-gol" id="goles">2</div>
                     <div class="col col-icon-suma-gol" id="resta-gol"><img src="../img/minus-circle.png"/></div>
                 </div>
             </div>
        </div>
    </div>
</div>




