
<div class="page" data-name="home">
   <!-- NavBar -->
  <div class="navbar color-theme-black">
    <div class="navbar-bg"></div>
    <div class="navbar-inner">
      <!--<div class="left sliding">  -->
      <div class="left">
          <a class="panel-open" href="#" data-panel=".panel-left">
            <i class="f7-icons">menu</i>
          </a>
      </div>
      <div class="title font-navbar">Inicio</div>  
    </div>
  </div>

   <!-- Panel conteniendo el menú -->
   <div class="panel panel-left panel-cover panel-resizable panel-init">
    <div class="block block-enc-menu">
      <p class="text-enc-menu">Seleccionar una opción</p>
    </div>

    <div class="block block-img-sede">
      <div class="img-sede">
        <p class="texto-sede">&nbsp</p>
        <!-- Son 30 espacios antes de la palabra "Sede:"-->
        <p class="texto-sede">Sede:</p>
        <!-- Son 22 espacios antes de la palabra nombre de la sede-->
        <p id="nomSede" class="nombre-sede">Inexistente</p>
      </div>
    </div>

    <div class="block block-menu">
      <p class="opciones-menu"><a class="panel-close color-opciones_menu" href="/cargar/"><i class="f7-icons">cloud_upload</i>&nbsp&nbspCargar juegos</a></p>
      <p class="opciones-menu"><a class="panel-close color-opciones_menu" href="/cedula/"><i class="f7-icons">sportscourt</i>&nbsp&nbspCédula Arbitral</a></p>   
      <p class="opciones-menu"><a class="panel-close color-opciones_menu" href="/tablero/"><i class="f7-icons">cloud_download</i>&nbsp&nbspReplicar Datos</a></p>    
      <p class="opciones-menu"><a class="panel-close color-opciones_menu" href="/settings/" data-transition="f7-flip"><i class="f7-icons">gear_alt</i>&nbsp&nbspConfiguración</a></p>      
      <p class="opciones-menu"><a class="panel-close color-opciones_menu" href="/about/"><i class="f7-icons">info_circle</i>Acerca de</a></p>    
    </div>
  </div>
   
  <div class="page-content">
    <img class="img_home" src="img/BackGroundDefault.jpg">
  </div>
 
</div>



