
<div class="page" data-name="settings">

    <!-- NavBar -->
   <div class="navbar color-theme-black">
     <div class="navbar-bg"></div>
     <div class="navbar-inner">
       <!--<div class="left sliding">  -->
       <div class="left">
           <a href="#" class="link back">
           <!-- <a href="#" class="link">Left Link</a> -->
             <i class="f7-icons">chevron_left</i>
           </a>
       </div>
       <div class="title font-navbar">Configurar cuenta</div>  
     </div>
   </div>
    
   <div class="page-content page-settings">
     
     <div class="list no-hairlines-md list-page-settings">
       <ul>
         <li class="item-content item-input">
           <div class="item-inner">
             <div class="item-title item-label">Cuenta</div>
             <div class="item-input-wrap">
               <input type="number" name="cuenta" id="num-cuenta" placeholder="Tú número de cuenta (4 números)">
               <span class="input-clear-button"></span>
             </div>
           </div>
         </li>

         <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Minutos por período</div>
              <div class="item-input-wrap">
                <input type="number" name="minutos" id="minutos-periodo" placeholder="Duración de cada perído (MM:SS)">
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>

          <li class="item-content item-input">
            <div class="item-inner">
              <div class="item-title item-label">Número de períodos</div>
              <div class="item-input-wrap">
                <input type="number" name="periodo" id="num-periodos" placeholder="Número de períodos por juego (1 número)">
                <span class="input-clear-button"></span>
              </div>
            </div>
          </li>
        </ul>
    </div>

    <div class="block block-botones-pagina-settings">
        <div class="row">
          <button class="col button button-fill button-round actions-close">Cancelar</button>
          <button class="col button button-fill button-round" href="javascript:void(0)" onclick="configuraCuenta()">Ok</button>
           
        </div>
    </div>

  </div>
</div>
