
<div class="page" data-name="show-firma">

    <!-- NavBar -->
   <div class="navbar color-theme-black">
     <div class="navbar-bg"></div>
     <div class="navbar-inner">
       <!--<div class="left sliding">  -->
       <div class="left">
           <a href="#" class="link back">
           <!-- <a href="#" class="link">Left Link</a> -->
             <i class="f7-icons">chevron_left</i>
           </a>
       </div>
       <div class="title font-navbar">Firma Legal...</div>  
     </div>
   </div>
    
   <div class="page-content page-about2">

    <iframe class="show-html" src="https://futcho7.com.mx/Cedula/FirmaLegal.htm"></iframe>
     
   

  </div>
</div>