<div class="page" data-name="tarjetas">
    <!-- NavBar -->
   <div class="navbar color-theme-black">
     <div class="navbar-bg"></div>
     <div class="navbar-inner">
       <!--<div class="left sliding">  -->
       <div class="left">
           <a href="#" class="link back">
           <!-- <a href="#" class="link">Left Link</a> -->
             <i class="f7-icons">chevron_left</i>
           </a>
       </div>
       <div class="title font-navbar" id="titulo-cedula-tarjeta">Cédula Arbitral(tarjetas)</div>  
     </div>
   </div>

   <div class="page-content page-tarjetas">
       <div class="block-title block-title-tarjetas" id="total-tarjetas">Total de tarjetas para el equipo Pumas Xolos (Local): 4</div>
       <div class="list list-tarjetas" id="lista-jugadores-tarjetas">
           <div class="block block-jugador-tarjeta">
               <div class="row">
                   <div class="col col-jugador-datos-tarjeta" id="jugador-id-tarjeta">#12 Adán Miranda Pacheco</div>
                </div>
                <div class="row">
                    <div class="col" id="jugador-foto-tarjeta"><img src="../img/fotojugador.jpg" width="60"/></div>
                    <div class="col col-icon-tarjeta-amarilla" id="ico-tarjeta"><img src="../img/tarjeta_amarilla.png" width="60"/></div>
                    <div class="col col-numtarjeta-amarilla" id="tarjetas-amarillas-">2</div> <!-- En el armado de la variable para presentar todos los jugadores (getJugadoresTarjetas), el id de goles está compuesto por "tarjetas-" y el id del jugador -->
                    <div class="col col-icon-suma-tarjeta" id="suma-tarjeta" onclick = "insertaTarjeta()"><img src="../img/plus-circle.png"/></div> <!-- En el armado de la variable para presentar todos los jugadores (getJugadoresTarjetas), se está enviando un identificador al function insertaTarjeta (identificador) -->
                    <div class="col col-icon-suma-tarjeta" id="resta-tarjeta" onclick = "eliminaTarjeta()"><img src="../img/minus-circle.png"/></div>
                    <div class="col col-icon-tarjeta-roja" id="ico-tarjeta-roja-" onclick = "tarjetaRoja()"><img src="../img/tarjeta_bco.png" width="55"/></div> <!-- En el armado de la variable para presentar todos los jugadores (getJugadoresTarjetas), el id de tarjeta roja está compuesto por  el id del jugador -->
                </div>
            </div>
        </div>
    </div>
</div>
