
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
 /*Al inicio de Style, se le pone las siguientes lineas para "formatear" a todos lo elementos este formato*/
 *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --f7-navbar-bg-color: orange ;
    --f7-panel-bg-color: RGB(33,33,33);
    --f7-font-family: DS-Point, Roboto, system-ui, Noto, Helvetica, Arial, sans-serif;
  }

  /* Configuración para todos los botones */
.button-fill{
    background: orange;
    border-radius: 5px;
    color: black;
    font-weight: bold;
}

.div-splash{
    width: 100%;
    height: 100%;
    background-color:white;
}

.img_splash{
    position: absolute;
    margin:auto;
    top:0;
    left:0;
    right:0;
    bottom:0;
}

.dialog-title{
    background-color: orange;
    font-family: -webkit-pictograph;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.dialog-inner{
    padding: 2px;
}

/* Configuración para el botón del Alert */
.dialog-button.dialog-button-bold{
    background-color: orange;
    color: white;
}

.panel-open{
    margin-left:20px;
}

.block-enc-menu{
    /*width:100%;*/
    height: calc(var(--f7-navbar-height) + var(--f7-safe-area-top));
   /* background-color: blue; */
    background-color: RGB(18,18,18);
    text-align: center;
    /*position: absolute;*/
    margin: 0;
    padding-top: 12px;
}

.text-enc-menu{
    color: white;
    padding-top: 5px;
    font-size: 15px;
}

.block-img-sede{
    width:100%;
    height: 100px;  /*calc(var(--f7-navbar-height) + var(--f7-safe-area-top));*/
    /* background-color:red ; */
    background-color: RGB(18,18,18);
    margin: 0;
    padding-left: 0;
    padding-right: 0;
}

.img-sede{
    background-image: url('../img/sede.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    color: white;
    text-align: left;
}

.texto-sede{
    margin-left: 95px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.nombre-sede{
    font-size: 15px;
    margin: .50em;
    margin-left: 95px;
}

.img_home{
    width: 100%;
    height: 100%;
}

.block-menu{
    margin:0;
}

.block-botones-pagina-settings{
    width: 70%;
    margin-left: 60px;
}

/* Texto del NavBar "Inicio" */
.texto-menu{
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.font-navbar{
    font-family: -webkit-pictograph;
    /*font-weight: bold;*/
    font-weight: 0;
}


.page-settings{
    background: url('../img/BackGroundConfig.jpg');
    background-size: 100% 90%;
    background-repeat: no-repeat;
    margin-top:55px;
    background-position: center top;
    padding-top: 20px;
}

.page-ced-seleccionar{
    background: url('../img/BackGroundCedSel.jpg');
    background-size: 100% 90%;
    background-repeat: no-repeat;
    margin-top:55px;
    background-position: center top;
    padding-top: 20px;
    padding-bottom: 60px;
}

.page-tablero{
    background: black;
    margin-top:55px;
    padding-top: 20px;
}

.page-goles{
    background: url('../img/BackGroundGol.jpg');
    background-size: 100% 90%;
    background-repeat: no-repeat;
    margin-top:55px;
    background-position: center top;
    padding-top: 20px;
    padding-bottom: 60px;
}

.list-page-settings{
	width: 70%;
    margin-left: 30px;
    margin-top: 5px;
}

.toolbar-inner{
    /* El texto que está dentro de la barra del calendario */
    color: orange;
}

.block-title-cargar-juegos{
    font-weight: bold;
}

.list-cedula-sel{
    margin: 0;
    margin-left: 45%;
    /*background: yellow;*/
    text-align: center;
    margin-right: .6%;
    /*border: 1px solid black;*/
    /*border-radius: 5px;*/
}

.block-cedula-sel0{
    margin: 0;
    margin-bottom: 5px;
    /*margin-left: 45%;*/
    /*background: yellow;*/
    text-align: center;
    margin-right: 5%;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
}

.block-cedula-sel1{
    width: 86%;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 5px;
    background: orange;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

.block-cedula-sel2{
    width: 100%;
    margin: 0;
    margin-top: 8px;
    font-weight: bold;
    /*background: gray;*/
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.block-cedula-sel3{
    width: 100%;
    margin: 0;
    /*margin-top: 15px;*/
    font-weight: bold;
    /*background:violet  ;*/
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.row-cedula-sel-text1{
    font-size: 12px;
}

.row-cedula-sel-text2{
    font-size: 12px;
    color: red;
}

.row-cedula-sel-text2-2{
    font-size: 12px;
    color: green;
}

.row-cedula-sel-text3{
    font-size: 15px;
    padding: 0;
    margin: 0;
}

.row-cedula-sel-text4{
    margin: 0;
    font-size: 27px;
}

.row-cedula-sel-text5{
    font-size: 12px;
    color: green;
}

.row-marcadores{
    font-size: 27px;
}

.block-tablero{
    width: 96%;
    height: 83%;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 15px;
    background: black;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    border: 1.5px;
    border-style: solid;
    border-color: white;
}

.row-tablero-titulo-text1{
    font-size: 25px;
    color: white;
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.row-tablero-titulo-text2{
    font-size: 15px;
    color: white;
    /*width: 100%;*/
    text-align: center;
    margin-left: 3px;
    margin-right: 3px;
}

.col-tablero-equipos{
    color:white;
    /*
    border-color: white;
    border: 1.0px;
    border-style: solid;
    */
}

.row-tablero-cronometro{
    font-size: 50px;
    color: white;
    width: 100%;
    font-weight: bold;
}

.row-tablero-titulo-text3{
    width: 100%;
    text-align: center;
}

.col-tablero-marcador{
    font-size: 80px;
    color: RGB(0,255,0);
    border: 0;
    font-family: DS-Point;
}

.col-tablero-cronometro{
    color:red;
    font-size: 60px;
    font-family: fantasy;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    font-family: DS-Point;

}


.block-cronometro{
    width: 25%;
    height: 25%;
    margin-top: 14px;
    border-radius: 15px;
    background: black;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    border: 1.5px;
    border-style: solid;
    border-color: white;
    text-align: center;
}

.row-tablero-titulo-periodo{
    font-size: 12px;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.row-tablero-titulo-text4{
    width: 25%;
    color: white;
    text-align: center;
    border-style: solid;
    margin: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.col-tablero-text-faltas{
    border-color: white;
}

.col-tablero-falta{
    color:yellow;
    border: 0;
    font-family: DS-Point;
}

.col-tablero-periodo{
    color: red;
    border: 0;
    font-family: DS-Point;
}

.row-tablero-titulo-text5{
    font-size: 40px;
    width: 100%;
    text-align: center;
}

.row-tablero-boton{
    width:20%;
    margin: auto;
    margin-bottom: 20px;
}

.block-title-goles{
    margin: 0;
    margin-left:42%;
    font-size: 15px;
    color: red;
    /*padding-bottom: 3px;*/
    font-family: serif;
}

.block-jugador-gol{
    width: 100%;
    margin-top: 0;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 3px;
}

.list-goles{
    margin: 0;
    margin-left: 42%;
    /*background: yellow;*/
    text-align: center;
    margin-right: 1%;
    
    /*
    Esto es para abarcar toda la lista
    box-shadow: 1px 3px #888888;
    border: 1px solid black;
    border-radius: 5px;
    */
}

.col-jugador-datos-gol{
    text-align: left;
    padding-right: 160px;
    background: orange;
    border-radius: 5px;
    font-family: serif;
}

.col-icon-balon-gol{
    margin: 0;
    text-align: right;
    padding-top: 10px;
}

.col-icon-suma-gol{
    padding-top: 23px;
}

.col-numgoles-gol{
    text-align: left;
    font-size: 40px;
    padding-top: 9px;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    /*text-transform:uppercase;*/
    width:100%;
}

/* Portrait layout (default) */
.app7 {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app7 {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/* Menú principal */
.opciones-menu{
    margin: 0em;
    border: 1.5px;
    border-style: none none solid none; 
    color: white;
    padding-bottom: 10px;
}

/*Color del texto para el menú de inicio */
.color-opciones_menu{
    color: white;
}




